<div class="jumbotron">
  <h1 class="display-4">Didactic!</h1>
  <p class="lead">This is the current Ozone readout for South Yorkshire.</p>
  <hr class="my-4">
  <p>Hit reload in your web browser to update the reading.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>